USE [PS_GameData]
GO
/****** Object:  StoredProcedure [dbo].[usp_Read_User_CashPoint_UsersMaster]    Script Date: 1/16/2026 4:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*==================================================
@author lenasoft
@date   2006-09-28
@return 
@brief  USERDB의 Users_Master테이블에서 포인트를 가져온다.
==================================================*/
ALTER PROCEDURE [dbo].[usp_Read_User_CashPoint_UsersMaster]  
@CashPoint  int OUTPUT,
@UserUID    int

AS

SET NOCOUNT ON

SET @CashPoint = 0

SELECT @CashPoint=ISNULL(Point,0) FROM PS_UserData.dbo.Users_Master WHERE UserUID=@UserUID 
IF @CashPoint < 0
BEGIN
    UPDATE PS_UserData.dbo.Users_Master SET Point=0 WHERE UserUID=@UserUID
    SET @CashPoint = 0
END

SET NOCOUNT OFF
