USE [PS_GameData]
GO
/****** Object:  StoredProcedure [dbo].[usp_Check_Char_Name]    Script Date: 1/16/2026 4:47:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Proc [dbo].[usp_Check_Char_Name]
    @CharName nvarchar(30)
AS BEGIN
    SET NOCOUNT ON

    SET @CharName = LTRIM(RTRIM(@CharName))
    IF EXISTS (SELECT * FROM Chars WHERE CharName=@CharName AND Del=0)
    BEGIN
        RETURN 0
    END
    ELSE
    BEGIN
        RETURN 1
    END

    SET NOCOUNT OFF
END
