USE [PS_GameData]
GO
/****** Object:  StoredProcedure [dbo].[usp_Save_User_BuyPointItems2]    Script Date: 1/16/2026 4:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Proc [dbo].[usp_Save_User_BuyPointItems2]

@UserUID int,
@CharID int,
@UsePoint int,
@ProductCode varchar(20),
@UseDate datetime

AS

SET NOCOUNT ON
--SET XACT_ABORT ON

DECLARE @UseType int
DECLARE @ReturnValue int

SET @UseType = 1 -- 구매

--BEGIN DISTRIBUTED TRANSACTION

EXEC @ReturnValue = PS_UserData.dbo.usp_Update_UserPoint @UserUID, @UsePoint
IF ( @ReturnValue < 0 )
BEGIN
    GOTO ERROR
END

-- Insert Point Log
INSERT INTO PointLog(UseType,UserUID,CharID,UsePoint,ProductCode,UseDate)
VALUES(@UseType,@UserUID,@CharID,@UsePoint,@ProductCode,@UseDate)
IF( @@ERROR<>0)
BEGIN
    GOTO ERROR
END

--COMMIT TRAN
RETURN 1

ERROR:
--ROLLBACK TRAN
RETURN -1

--SET XACT_ABORT OFF
SET NOCOUNT OFF
