USE [PS_GameDefs]
GO
/****** Object:  Table [dbo].[StatusDefs]    Script Date: 1/22/2026 3:14:21 AM ******/
DROP TABLE [dbo].[StatusDefs]
GO
/****** Object:  Table [dbo].[StatusDefs]    Script Date: 1/22/2026 3:14:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusDefs](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Level] [smallint] NOT NULL,
	[Job] [tinyint] NOT NULL,
	[HP] [smallint] NOT NULL,
	[SP] [smallint] NOT NULL,
	[MP] [smallint] NOT NULL,
 CONSTRAINT [PK__StatusDe__C6B5870B4C364F0E] PRIMARY KEY CLUSTERED 
(
	[Level] ASC,
	[Job] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StatusDefs] ON 

INSERT [dbo].[StatusDefs] ([RowID], [Level], [Job], [HP], [SP], [MP]) VALUES (1741, 1, 0, 205, 125, 50)
INSERT [dbo].[StatusDefs] ([RowID], [Level], [Job], [HP], [SP], [MP]) VALUES (1742, 1, 1, 250, 65, 65)
INSERT [dbo].[StatusDefs] ([RowID], [Level], [Job], [HP], [SP], [MP]) VALUES (1743, 1, 2, 170, 150, 60)
GO
SET IDENTITY_INSERT [dbo].[StatusDefs] OFF
GO
