USE [PS_GameDefs]
GO
/****** Object:  Table [dbo].[ExpDefs]    Script Date: 1/22/2026 2:25:27 AM ******/
DROP TABLE [dbo].[ExpDefs]
GO
/****** Object:  Table [dbo].[ExpDefs]    Script Date: 1/22/2026 2:25:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpDefs](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Level] [smallint] NOT NULL,
	[Grow] [tinyint] NOT NULL,
	[Exp] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExpDefs] ON 

INSERT [dbo].[ExpDefs] ([RowID], [Level], [Grow], [Exp]) VALUES (2962, 1, 1, 7)
INSERT [dbo].[ExpDefs] ([RowID], [Level], [Grow], [Exp]) VALUES (2963, 1, 2, 6)
INSERT [dbo].[ExpDefs] ([RowID], [Level], [Grow], [Exp]) VALUES (2964, 1, 3, 12)
GO
SET IDENTITY_INSERT [dbo].[ExpDefs] OFF
GO
